$fs-900: 6rem;

$color-primary-500: #8B37FF;

.fs-900{
    font-size: $fs-900;
}

.font-purple {
    color: $color-primary-500;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/pngtree-desk-with-a-monitor-and-other-items-on-it-picture-image_3376697.jpg");
    background-size: cover;
}

.button-purple {
    color: white;
    background-color: $color-primary-500;
}